.img-containner{
    position: relative;
}
.img-containner img{
    width:100%;
    display:block;
}
.nav-glyphish-example .ui-btn { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn:after { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#main-hdlx-index{
    background:url("../images/main-hdlx-bg.png") repeat;
}
#main-hdlx-index .ui-header, .ui-footer{
    border:0;
    width: 100%;
}
#hdlx-result.ui-footer{
    position: fixed;
    bottom: -500px;
}
#main-hdlx-index .ui-content{
    overflow: hidden;
}

.question-containner:after{
    content: "";
    position: absolute;
    width: 15%;
    height: 100%;
    margin: -30% 0 0 13%;
    background: url("../images/select-circle.png")0 0 no-repeat;
    background-size: 100%;
    -webkit-transform-origin:50% 25%;
    -moz-transform:scale(0,0);
    -webkit-transform:scale(0,0);
    -o-transform:scale(0,0);

}
.question-containner-select:after{
    -moz-transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -o-transform:scale(1,1);
    transition:all  0.25s;
    -moz-transition:all  0.25s; /* Firefox 4 */
    -webkit-transition:all  0.25s; /* Safari and Chrome */
    -o-transition:all  0.25s; /* Opera */
}
.result-containner{
    transition:all  1s;
    -moz-transition:all  1s; /* Firefox 4 */
    -webkit-transition:all  1s; /* Safari and Chrome */
    -o-transition:all  1s; /* Opera */
}
.result-containner-show{
    -webkit-transform: translateY(-566px);
}
.result-containner-hide{
    -webkit-transform: translateY(0);
}
.title-containner{
    transition:all  1s;
    -moz-transition:all  1s; /* Firefox 4 */
    -webkit-transition:all  1s; /* Safari and Chrome */
    -o-transition:all  1s; /* Opera */
}
.title-containner-hide{
    -webkit-transform: translateX(100%);

}
.title-containner-show{
    -webkit-transform: translateX(0);
}
.question-next{
    position: absolute;
    width: 30%;
    height: 33%;
    bottom: 0;
    right: 0;
}

.ui-footer {
    background: none;
    border: none;
    bottom: 0;
}
#alignment-example {
    min-width: 180px;
    opacity: 1;
}
#open-alignment-example {
    position: relative;
    left: 50%;
    width: 6em;
    margin-left: -3em;
    background-color: #ffa0a0;
    border-color: black;
}
.ui-btn{
margin: 0;
}
/* Transparent footer */
#footer-nav .ui-btn{
    color:rgb(153,153,153);
}
#footer-nav .ui-btn-active{
    background-color: #fff;
    border-color: #fff;
    color: #000;
    text-shadow: 0 1px 0 #000;
}
#alignment-example .ui-btn{
    background-color: rgb(60,60,60);
    border-color: rgb(60,60,60);
    color: #fff;
    text-shadow: 0 1px 0 rgb(60,60,60);
}
#alignment-example .ui-btn-active{
    background-color: rgb(51,51,51);
    border-color: rgb(51,51,51);
    text-shadow: 0 1px 0 rgb(51,51,51);
}
#bhgs.ui-btn:after { background: url("../images/bhgs-icon.png") 50% 50% no-repeat; background-size: 100%; }
#jstd.ui-btn:after { background:url("../images/jstd-icon.png") 50% 50% no-repeat; background-size: 100%;}
#hdlx.ui-btn:after { background:url("../images/hdlx-icon.png") 50% 50% no-repeat;background-size:100%; }
#bhgs.ui-btn-active:after { background: url("../images/bhgs-icon-active.png") 50% 50% no-repeat; background-size: 100%; }
#jstd.ui-btn-active:after { background:url("../images/jstd-icon-active.png") 50% 50% no-repeat; background-size: 100%;}
#hdlx.ui-btn-active:after { background:url("../images/hdlx-icon-active.png") 50% 50% no-repeat;background-size:100%; }
